<div class="container comment-show-area">
  <div class="card">
    <div class="card-header">
      <%= comment.user_name %>
    </div>
    <div class="card-body">
      <p><%= comment.description %></p>
      <%= link_to '返信する', horse_race_comment_path(@horse_race, comment, comment_type: comment.comment_type), class: 'btn btn-primary'  %>
    </div>
  </div>
</div>
