<div class="container comment-show-area">
  <div class="card">
    <div class="card-header">
      <%= comment.user_name %>
    </div>
    <div class="card-body">
      <p><%= comment.description %></p>
    </div>
  </div>
</div>
