<div class="container">
  <h2>レース一覧</h2>
  <table class="races table">
    <thead>
      <tr>
        <th scope="col">レースID</th>
        <th scope="col">開催日</th>
        <th scope="col">レース名</th>
      </tr>
    </thead>
    <tbody>
      <% @races.each do |race|  %>
        <tr class="race">
          <td><%= race.id %></td>
          <td><%= race.start.to_s(:date_hour_min) %></td>
          <td><%= link_to race.name, race %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
