<div class="container">
    <h2>競走馬一覧</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">競走馬ID</th>
                <th scope="col">馬名</th>
            </tr>
        </thead>
        <tbody>
            <% @horses.each do |horse|  %>
                <tr class="horse">
                    <td><%= horse.id %></td>
                    <td><%= link_to horse.name, horse %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>